<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @quotation.customer %>
</p>

<p>
  <strong>Date:</strong>
  <%= @quotation.date %>
</p>

<p>
  <strong>Value:</strong>
  <%= @quotation.value %>
</p>

<p>
  <strong>Details:</strong>
  <%= @quotation.details %>
</p>

<%= link_to 'Edit', edit_quotation_path(@quotation) %> |
<%= link_to 'Back', quotations_path %>
